@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  width: 100%;
  max-width: 1440px;
  margin: 3rem auto;
}

.header {
  background: url(../images/bg-pattern-top-mobile.svg) center/cover no-repeat;
  margin-right: 2rem;
  margin-left: 2rem;
}

.header__info__title {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #502050;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 3rem;
}

.header__info__text {
  text-align: center;
  padding-top: 2rem;
  line-height: 1.5rem;
  color: #937b92;
}

.header__rating {
  margin-top: 2rem;
}

.header__rating__info {
  background: #f7f2f7;
  border-radius: 7px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.header__rating__info__stars {
  color: #ca9534;
  padding-bottom: 0.7rem;
  letter-spacing: 0.4rem;
}

.header__rating__info__text {
  color: #502050;
  font-weight: 700;
}

.testimonial {
  background: url(../images/bg-pattern-bottom-mobile.svg) center/cover no-repeat;
  padding-top: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.testimonial__card {
  background: #502050;
  margin-bottom: 1.8rem;
  padding: 2rem 2rem;
  border-radius: 7px;
}

.testimonial__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card__header__img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.testimonial__card__header__title {
  padding-left: 2.2rem;
  line-height: 1.5rem;
}

.testimonial__card__header__title__name {
  color: white;
}

.testimonial__card__header__title__role {
  color: #993d99;
  font-size: 0.8rem;
}

.testimonial__card__content {
  line-height: 1.5rem;
  color: white;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .header {
    background: url(../images/bg-pattern-top-desktop.svg) center/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__info__title {
    text-align: left;
  }
  .header__info__text {
    max-width: 500px;
    text-align: left;
  }
  .testimonial {
    background: url(../images/bg-pattern-bottom-desktop.svg) center/cover no-repeat;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
  }
  .testimonial__card:nth-child(2) {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  .testimonial__card:nth-child(3) {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
}

@media screen and (min-width: 900px) {
  .header__rating__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__rating__info__stars {
    color: #ca9534;
    padding-bottom: 0.7rem;
  }
  .header__rating__info:nth-child(1) {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  .header__rating__info:nth-child(2) {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
}
