@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  margin-right: 2rem;
  margin-left: 2rem;
}

.header {
  background: url(../images/bg-pattern-top-mobile.svg) center/cover no-repeat;
}

.header__info__title {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #502050;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 3rem;
}

.header__info__text {
  text-align: center;
  padding-top: 2rem;
  line-height: 1.5rem;
  color: #937b92;
}

.header__rating {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.header__rating__info {
  background: #f7f2f7;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.header__rating__info__stars {
  color: #ca9534;
  padding-bottom: 0.7rem;
  letter-spacing: 0.4rem;
}

.header__rating__info__text {
  color: #502050;
  font-weight: 700;
}

.testimonial {
  background: url(../images/bg-pattern-bottom-mobile.svg) center/cover no-repeat;
  padding-top: 3rem;
}

.testimonial__card {
  background: #502050;
  margin-bottom: 1.8rem;
  padding: 2rem 2rem;
  border-radius: 6px;
}

.testimonial__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card__header__img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.testimonial__card__header__title {
  padding-left: 2.2rem;
  line-height: 1.5rem;
}

.testimonial__card__header__title__name {
  color: white;
}

.testimonial__card__header__title__role {
  color: #993d99;
  font-size: 0.8rem;
}

.testimonial__card__content {
  line-height: 1.5rem;
  color: white;
  font-weight: 400;
}
