@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$dark-grayish: hsl(303, 10%, 53%);
$light-grayish: hsl(300, 24%, 96%);
$white: (0, 0%, 100%);
$ff-family: "Spartan", sans-serif;

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 15px;
	font-family: $ff-family;
	font-weight: 400;
}

.header {
	background: url(../images/bg-pattern-top-mobile.svg) center/cover no-repeat;
	&__info {
		&__title {
			font-family: $ff-family;
			font-weight: 700;
			color: $primary-magenta;
			font-size: 1.7rem;
			text-align: center;
			margin-top: 3rem;
    }
    
	}
}
.testimonial {
	background: url(../images/bg-pattern-bottom-mobile.svg) center/cover no-repeat;
}
