@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$dark-grayish: hsl(303, 10%, 53%);
$light-grayish: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$ff-family: "Spartan", sans-serif;
$color: rgb(202, 149, 52);
$radius: 6px;
@mixin margin {
	margin-right: 2rem;
	margin-left: 2rem;
}
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: $ff-family;
	font-weight: 400;
}

.header {
	background: url(../images/bg-pattern-top-mobile.svg) center/cover no-repeat;
	@include margin;
	&__info {
		&__title {
			font-family: $ff-family;
			font-weight: 700;
			color: $primary-magenta;
			font-size: 1.7rem;
			text-align: center;
			margin-top: 3rem;
		}
		&__text {
			text-align: center;
			padding-top: 2rem;
			line-height: 1.5rem;
			color: $dark-grayish;
		}
	}
	&__rating {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;

		&__info {
			background: $light-grayish;
			border-radius: $radius;
			margin-bottom: 1rem;
			padding: 1rem;
			text-align: center;
			&__stars {
				color: $color;
				padding-bottom: 0.7rem;
				letter-spacing: 0.4rem;
			}
			&__text {
				color: $primary-magenta;
				font-weight: 700;
			}
		}
	}
}
.testimonial {
	background: url(../images/bg-pattern-bottom-mobile.svg) center/cover no-repeat;
	padding-top: 3rem;
	@include margin;
	&__card {
		background: $primary-magenta;
		margin-bottom: 1.8rem;
		padding: 2rem 2rem;
		border-radius: $radius;
		&__header {
			display: flex;
			margin-bottom: 1.4rem;
			align-items: center;
			&__img {
				border-radius: 50%;
				height: 3rem;
				width: 3rem;
			}
			&__title {
				padding-left: 2.2rem;
				line-height: 1.5rem;
				&__name {
					color: $white;
				}
				&__role {
					color: lighten($color: $primary-magenta, $amount: 20%);
					font-size: 0.8rem;
				}
			}
		}
		&__content {
			line-height: 1.5rem;
			color: $white;
			font-weight: 400;
		}
	}
}
@media screen and (min-width: 380px) {
	.body {
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	.header {
		background: url(../images/bg-pattern-top-desktop.svg) center/cover no-repeat;
		// display: flex;
		// justify-content: space-between;
	}
	.testimonial {
		background: url(../images/bg-pattern-bottom-desktop.svg) center/cover
			no-repeat;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-gap: 1rem;
	}
}
