@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$dark-grayish: hsl(303, 10%, 53%);
$light-grayish: hsl(300, 24%, 96%);
$white: (0, 0%, 100%);
$ff-family: "Spartan", sans-serif;
$color: rgb(202, 149, 52);
$radius: 5px;

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 15px;
	font-family: $ff-family;
	font-weight: 400;
	margin-right: 2rem;
	margin-left: 2rem;
}

.header {
	background: url(../images/bg-pattern-top-mobile.svg) center/cover no-repeat;
	&__info {
		&__title {
			font-family: $ff-family;
			font-weight: 700;
			color: $primary-magenta;
			font-size: 1.7rem;
			text-align: center;
			margin-top: 3rem;
		}
		&__text {
			text-align: center;
			padding-top: 2rem;
			line-height: 1.5rem;
			color: $dark-grayish;
		}
	}
	&__rating {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;

		&__info {
			background: $light-grayish;
			border-radius: $radius;
			margin-bottom: 1rem;
			padding: 1rem;
			text-align: center;
			&__stars {
				color: $color;
				padding-bottom: 0.7rem;
				letter-spacing: 0.4rem;
			}
			&__text {
				color: $primary-magenta;
				font-weight: 700;
			}
		}
	}
}
.testimonial {
	background: url(../images/bg-pattern-bottom-mobile.svg) center/cover no-repeat;
	&__card {
		background: $primary-magenta;
		margin-bottom: 2rem;
		padding: 1.5rem 1rem;
		border-radius: $radius;
		&__header {
			display: flex;
			margin: 1.2rem;
			&__img {
				border-radius: 50%;
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}
}
